.group:after {
	content: "";
	display: table;
	clear: both;
}
.rptHighlight{

	border-color:#0000ff !important;
	border-width:1px;
}
.repeaterPreviewHead{
	font-size:12px !important;
	font-weight:bold !important;
	display:inline-block;
}
.repeaterPreviewCell{
	font-size:12px !important;
	padding-bottom:1px;
	display:inline-block;
}
.repeaterPreviewZebra:nth-of-type(odd) {
	background: #e0e0e0;
}
.repeaterPreviewLeft{
	text-align:left;
}
.repeaterPreview05{
	width:5px;
}
.repeaterPreview40{
	width:40px;
}
.repeaterPreview60{
	width:60px;
}
.repeaterPreview70{
	width:70px;
}
.repeaterPreview130{
	width:130px;
}
.repeaterPreviewRight{
	text-align:right;
}
.rpt_previewShade{
	background-color:#D0FBD7;
}
#rpt_previewAreaContent{

}
.rpt_Help{
	font-size:14px;

}
#rpt_previewAreaImg{
	padding:180px 0 0 0px;
	text-align:center;
}
.repeaterOperational{
	color:ForestGreen;
}
.repeaterNotOperational{
	color:Crimson;
}
.repeaterWarning{
	color:DarkOrange;
}
#repeaterContainer{
	border:2px solid rgba(20, 142, 30, 0.61);
	width:100%;
	background-color:#F0FFF3;
}
#repeaterTable{
	margin:5px;
	background-color:transparent;
	border-spacing: 10px 2px;
	border-collapse: separate;
	width:100%;
}
.repeaterHead{
	width:100%;
	padding:5px 0px 5px 20px;
	font-size:1.6em;
}
#repeaterRegionHead{
	width:30%;
}
#repeaterRegion{
}
#repeaterStatusHead{
	width:20%;
}
#repeaterStatus{
	display:none;
}
#repeaterModeHead{
	width:20%;
}
#repeaterMode{
	display:none;
}
#repeaterBandHead{
	width:10%;
}
#repeaterBand{
	display:none;
}
#repeaterMemoHead{
	width:20%;
}
#repeaterMemo{
	display:none;
}
#repeaterRegionHead,#repeaterModeHead,#repeaterBandHead,#repeaterMemoHead{

}
.repeaterColumnHead{
	font-size:1.1em;
	font-weight:bold;
}
.repeaterTableTitle{
	width:75%;
}
.repeaterTableHelp{
	text-align:right;

}
.repeaterRowHead{
	width:100%;
	font-size:1.5em;
	font-weight:bold;
}
.rr {
}
.wwww{
	padding-bottom:15px;
}
#repeaterTableSel{

}
.repeaterCheckbox {
	padding-left:25px;
	font-size:.9em;
	font-weight:bold;
	margin-right:2px;
	margin-left:2px;
}
.repeaterCheckboxDrop {
	padding-left:25px;
	font-size:.86em;
	font-weight:bold;

	margin-right:2px;
	margin-left:2px;
}
.repeaterTableDrop{
	margin-right:2px;
	margin-left:2px;
	padding-left:2px;
	padding-right:2px;

	border-bottom:1px solid gray;
	border-left:1px solid gray;
	border-right:1px solid gray;
	border-top:1px solid gray;

}
.repeaterLocator{
	width:100px;
	display:inline-block;
	text-transform:uppercase;
}